[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=true
insert_final_newline=true
indent_style=tab
tab_width=4

[{*.ng,*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=tab
tab_width=2

[{*.jhm,*.xslt,*.xul,*.rng,*.xsl,*.xsd,*.ant,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl}]
indent_style=space
indent_size=4

[.editorconfig]
indent_style=space
indent_size=4

[*.scss]
indent_style=tab
tab_width=2

[{*.js,*.cjs}]
indent_style=tab
tab_width=2

[{*.ats,*.ts}]
indent_style=space
indent_size=2

[*.vue]
indent_style=tab
tab_width=2
continuation_indent_size = 2

[{.analysis_options,*.yml,*.yaml}]
indent_style=space
indent_size=2