{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
		  },
		  "@babel/plugin-proposal-private-methods",
		  { 
			"loose": true
		  }
        ]
      ]
    }
  }
}
