html {
	overflow: auto !important;
}

body.theme--dark {
	background-color: #0d3049;
}

body.theme--light {
	background-color: #c1c1c1;
}

.v-application {
	&.theme--dark {
		background: #153954 !important;
	}

	&.theme--light {
		background: #faf9f8 !important;
	}

	.v-card {
		@media (max-width: 480px) {
			height: auto !important;
		}

		&.pane {
			> .v-card__title {
				min-height: $spacer-20 !important;
				height: $spacer-20 !important;

				@media (max-width: 480px) {
					height: 32px !important;
				}
			}

			> .v-card__text {
				height: calc(100% - 48px) !important;
			}
		}

		border-radius: 0 !important;
	}
}

.container {
	height: auto !important;

	@media (max-width: 480px) {
		padding: 0;
		align-content: start;

		.v-card {
			border-radius: 0 !important;
		}
	}
}

a {
	text-decoration: none;
}

.v-input {
	&.no-line {
		.v-input__slot {
			&::before {
				display: none !important;
			}
		}
	}

	&.v-input--dense {
		&.v-text-field--outlined {
			> .v-input__control {
				> .v-input__slot {
					min-height: 36px !important;
					height: 36px !important;
				}

				> .v-select__slot {
					.v-select__selections {
						min-height: 36px !important;
						height: 36px !important;
						padding: 0 !important;
					}
				}
			}
		}
	}
}

.page-link,
.page-link:visited,
.page-link:hover,
.page-link:active,
.page-link:focus {
	outline: unset !important;
	border: unset !important;
}

.page-link:hover,
.page-link:focus {
	filter: brightness(150%);
}

.full-height,
.fill-height {
	height: 100% !important;
	max-height: 100% !important;
}

.full-width,
.fill-width {
	width: 100% !important;
	max-width: 100% !important;
}

.h- {
	&16 {
		min-height: 16px;
		height: 16px;
	}

	&24 {
		min-height: 24px;
		height: 24px;
	}

	&32 {
		min-height: 32px;
		height: 32px;
	}

	&36 {
		min-height: 36px;
		height: 36px;
	}

	&40 {
		min-height: 40px;
		height: 40px;
	}

	&48 {
		min-height: 40px;
		height: 48px;
	}

	&64 {
		min-height: 64px;
		height: 64px;
	}

	&min- {
		&16 {
			min-height: 16px !important;
		}

		&24 {
			min-height: 24px !important;
		}

		&32 {
			min-height: 32px !important;
		}

		&36 {
			min-height: 36px !important;
		}

		&40 {
			min-height: 40px !important;
		}

		&48 {
			min-height: 48px !important;
		}

		&64 {
			min-height: 64px !important;
		}
	}

	&max- {
		&16 {
			max-height: 16px !important;
		}

		&24 {
			max-height: 24px !important;
		}

		&32 {
			max-height: 32px !important;
		}

		&36 {
			max-height: 36px !important;
		}

		&40 {
			max-height: 40px !important;
		}

		&48 {
			max-height: 48px !important;
		}

		&64 {
			max-height: 64px !important;
		}
	}
}

.lh- {
	&16 {
		line-height: 16px !important;
	}

	&24 {
		line-height: 24px !important;
	}

	&32 {
		line-height: 32px !important;
	}

	&36 {
		line-height: 36px !important;
	}

	&40 {
		line-height: 40px !important;
	}

	&48 {
		line-height: 48px !important;
	}

	&64 {
		line-height: 64px !important;
	}
}

.v-data-table {
	background-color: transparent !important;

	thead {
		th {
			&.groupable {
				span:last-of-type {
					position: relative;
					margin-left: $spacer-2;
					padding: $spacer-1 $spacer-2 $spacer-1 $spacer-7;
					background-color: #82b1ff;
					color: white;
					border-radius: $spacer-4;
					z-index: 1;
					cursor: pointer;

					&::after {
						content: '';
						position: absolute;
						height: 16px;
						width: 16px;
						top: 3px;
						left: 8px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M1,1V5H2V19H1V23H5V22H19V23H23V19H22V5H23V1H19V2H5V1M5,4H19V5H20V19H19V20H5V19H4V5H5M6,6V14H9V18H18V9H14V6M8,8H12V12H8M14,11H16V16H11V14H14' /%3E%3C/svg%3E");
						background-size: cover;
						z-index: 2;
						pointer-events: none;
					}
				}
			}
		}
	}

	tbody {
		tr {
			cursor: pointer;

			&.striped {
				background-color: #f9fcff;
			}

			&:hover,
			&.striped:hover {
				background-color: rgba(0, 0, 0, 0.05) !important;
			}
		}

		td {
			&.action-wrapper {
				width: 1% !important;
				white-space: nowrap !important;
			}
		}
	}

	&.rows-not-clickable,
	&.no-hover {
		tbody {
			tr {
				cursor: default !important;

				&:hover,
				&.striped:hover {
					background-color: transparent !important;
				}
			}
		}
	}

	.v-data-table__expanded__content {
		box-shadow: none !important;

		&:hover {
			background-color: transparent !important;
		}
	}
}

.v-text-field--box .v-input__slot,
.v-text-field--outline .v-input__slot {
	max-height: 32px !important;
}

.v-tooltip {
	z-index: 50;
}

.v-badge {
	.v-badge__wrapper {
		display: flex;
		align-items: center;
	}
}

.spin {
	animation: spin 0.6s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.no-transition {
	transition: none !important;
}

.no-click,
.not-clickable,
.pointer-events-none {
	pointer-events: none !important;
}

.material-icons {
	max-width: 24px;
}

.pointer-default,
.default-pointer {
	cursor: default !important;
}

.pointer-cursor,
.cursor-pointer {
	cursor: pointer !important;
}

.no-active,
.disable-active {
	&.v-btn--active::before {
		background: transparent !important;
		opacity: 0;
	}
}

.no-bg,
.disable-bg {
	&:hover,
	&::before:hover,
	&::after:hover {
		background: transparent !important;
	}

	&::before:hover,
	&::after:hover {
		opacity: 0;
	}
}

.no-hover,
.disable-hover {
	&:hover,
	&::before:hover,
	&::after:hover {
		background: transparent !important;
	}

	&::before:hover,
	&::after:hover {
		opacity: 0;
	}
}

.help-cursor {
	cursor: help !important;
}

.svg-icon {
	&:hover {
		filter: brightness(150%);
	}
}

@for $i from 0 to 10 {
	.rounded-#{$i} {
		border-radius: ($i * 4) * 1px !important;
	}
}

.toasted {
	font-family: Roboto, sans-serif;
	font-weight: 700;

	.svg-inline--fa {
		margin-right: $spacer-2 !important;
	}
}

.debug {
	border: 1px solid red;

	&-1 {
		border: 1px solid red;
	}

	&-2 {
		border: 1px solid blue;
	}

	&-3 {
		border: 1px solid green;
	}
}

@import '~vuetify/src/styles/styles.sass';
