html {
	overflow: auto !important;
}

body.theme--dark {
	background-color: #0d3049;
}

body.theme--light {
	background-color: #c1c1c1;
}

.v-application {
	background: var(--v-bg-base) !important;

	.v-card {
		@media (max-width: 480px) {
			height: auto !important;
		}

		&.pane {
			> .v-card__title {
				min-height: $header-height !important;
				height: $header-height !important;

				@media (max-width: 480px) {
					height: 32px !important;
				}
			}

			> .v-card__text {
				height: calc(100% - #{$footer-height}) !important;
			}
		}

		&.shadow {
			> .v-card__text {
				position: relative;

				&::after {
					content: '';
					position: fixed;
					top: $header-height;
					right: $spacer-4;
					bottom: $footer-height;
					left: $sidebar-height;
					box-shadow: $box-shadow;
					z-index: 1;
					pointer-events: none !important;
				}
			}
		}

		&.shadow-pane {
			> .v-card__text {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					box-shadow: $box-shadow;
					z-index: 1;
					pointer-events: none !important;
				}
			}
		}

		&.pane.shadow-pane {
			> .v-card__text {
				&::after {
					height: calc(100% - #{$spacer-3}) !important;
				}
			}
		}

		border-radius: 0 !important;
	}
}

.container {
	height: auto !important;

	@media (max-width: 480px) {
		padding: 0;
		align-content: start;

		.v-card {
			border-radius: 0 !important;
		}
	}
}

a {
	text-decoration: none;
	transition: all ease-in-out 0.1s !important;

	&:hover,
	&:focus {
		&,
		span {
			color: var(--v-primary-darken1) !important;
		}
	}
}

.v-input {
	&.no-line {
		.v-input__slot {
			&::before {
				display: none !important;
			}
		}
	}

	&.v-input--dense {
		&.v-text-field--outlined {
			> .v-input__control {
				> .v-input__slot {
					min-height: 36px !important;
					height: 36px !important;
				}

				> .v-select__slot {
					.v-select__selections {
						min-height: 36px !important;
						height: 36px !important;
						padding: 0 !important;
					}
				}
			}
		}
	}
}

.page-link,
.page-link:visited,
.page-link:hover,
.page-link:active,
.page-link:focus {
	outline: unset !important;
	border: unset !important;
}

.page-link:hover,
.page-link:focus {
	filter: brightness(150%);
}

.full-height,
.fill-height {
	height: 100% !important;
	max-height: 100% !important;
}

.full-width,
.fill-width {
	width: 100% !important;
	max-width: 100% !important;
}

.primary-outlined {
	position: relative;
	border-radius: $border-radius-root;

	&,
	&-thin {
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: 1px solid var(--v-primary-base);
			border-radius: $border-radius-root;
			pointer-events: none !important;
		}
	}

	&-thin {
		&::after {
			border: 1px solid var(--v-primary-base);
		}
	}
}

.v-menu__content,
.menuable__content__active {
	border-radius: $border-radius-root !important;
}

.v-list.v-select-list {
	padding: 0 !important;
	background: var(--v-bg-base) !important;
	border-radius: $border-radius-root !important;

	.v-list-item.v-list-item--active {
		&::before {
			background-color: var(--v-bg-base) !important;
		}
	}

	&.theme-- {
		&light {
			> div:not(:nth-last-of-type(-n-1)) {
				border-bottom: 1px solid var(--v-primary-base);
			}
		}

		&dark {
			> div:not(:nth-last-of-type(-n-1)) {
				border-bottom: 1px solid $row-border-reverse-color;
			}
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid var(--v-primary-base);
		border-radius: $border-radius-root;
		pointer-events: none !important;
	}
}

.h- {
	&16 {
		min-height: 16px;
		height: 16px;
	}

	&24 {
		min-height: 24px;
		height: 24px;
	}

	&32 {
		min-height: 32px;
		height: 32px;
	}

	&36 {
		min-height: 36px;
		height: 36px;
	}

	&40 {
		min-height: 40px;
		height: 40px;
	}

	&48 {
		min-height: 40px;
		height: 48px;
	}

	&64 {
		min-height: 64px;
		height: 64px;
	}

	&min- {
		&16 {
			min-height: 16px !important;
		}

		&24 {
			min-height: 24px !important;
		}

		&32 {
			min-height: 32px !important;
		}

		&36 {
			min-height: 36px !important;
		}

		&40 {
			min-height: 40px !important;
		}

		&48 {
			min-height: 48px !important;
		}

		&64 {
			min-height: 64px !important;
		}
	}

	&max- {
		&16 {
			max-height: 16px !important;
		}

		&24 {
			max-height: 24px !important;
		}

		&32 {
			max-height: 32px !important;
		}

		&36 {
			max-height: 36px !important;
		}

		&40 {
			max-height: 40px !important;
		}

		&48 {
			max-height: 48px !important;
		}

		&64 {
			max-height: 64px !important;
		}
	}
}

.lh- {
	&16 {
		line-height: 16px !important;
	}

	&24 {
		line-height: 24px !important;
	}

	&32 {
		line-height: 32px !important;
	}

	&36 {
		line-height: 36px !important;
	}

	&40 {
		line-height: 40px !important;
	}

	&48 {
		line-height: 48px !important;
	}

	&64 {
		line-height: 64px !important;
	}
}

.v-data-table {
	background-color: transparent !important;

	thead {
		th {
			&.groupable {
				span:last-of-type {
					position: relative;
					margin-left: $spacer-2;
					padding: $spacer-1 $spacer-2 $spacer-1 $spacer-7;
					background-color: #82b1ff;
					color: white;
					border-radius: $spacer-4;
					z-index: 1;
					cursor: pointer;

					&::after {
						content: '';
						position: absolute;
						height: 16px;
						width: 16px;
						top: 3px;
						left: 8px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M1,1V5H2V19H1V23H5V22H19V23H23V19H22V5H23V1H19V2H5V1M5,4H19V5H20V19H19V20H5V19H4V5H5M6,6V14H9V18H18V9H14V6M8,8H12V12H8M14,11H16V16H11V14H14' /%3E%3C/svg%3E");
						background-size: cover;
						z-index: 2;
						pointer-events: none;
					}
				}
			}
		}
	}

	tbody {
		tr {
			cursor: pointer;
			margin-top: 6px !important;

			&.striped {
				background-color: #f9fcff;
			}

			&:hover,
			&.striped:hover {
				background-color: rgba(0, 0, 0, 0.05) !important;
			}
		}

		td {
			&.action-wrapper {
				width: 1% !important;
				white-space: nowrap !important;
			}
		}
	}

	thead,
	tbody {
		th,
		td {
			border-color: $row-border-color !important;
			border-width: 2px !important;
			position: relative;

			&,
			span {
				font-size: $font-size-root !important;
				font-weight: 400;
			}
		}

		th {
			&,
			span {
				font-weight: 700;
			}
		}

		td {
			&,
			span {
				font-weight: 400;
			}
		}

		th:not(:nth-last-of-type(-n+2)),
		td:not(:nth-last-of-type(-n+2)) {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				width: 2px;
				top: $spacer-2;
				right: 0;
				bottom: $spacer-2;
				background-color: $row-border-color;
				z-index: 10;
			}
		}
	}

	&.rows-not-clickable,
	&.no-hover {
		tbody {
			tr {
				cursor: default !important;

				&:hover,
				&.striped:hover {
					background-color: transparent !important;
				}
			}
		}
	}

	.v-data-table__expanded__content {
		box-shadow: none !important;

		&:hover {
			background-color: transparent !important;
		}
	}
}

.v-divider {
	&.thick {
		border-color: $row-border-color !important;
		border-width: 1px !important;
	}
}

.v-text-field--box .v-input__slot,
.v-text-field--outline .v-input__slot {
	max-height: 32px !important;
}

.v-badge {
	.v-badge__wrapper {
		display: flex;
		align-items: center;
	}
}

.spin {
	animation: spin 0.6s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.no-transition {
	transition: none !important;
}

.v-avatar.primary {
	transition: all ease-in-out 0.1s !important;

	&:hover,
	&:focus {
		background-color: var(--v-primary-darken1) !important;

		&,
		span {
			color: #fff;
		}
	}
}

.v-icon,
.v-btn,
.v-list-item {
	&.no-ripple-hover {
		&::before {
			background-color: transparent !important;
		}
	}
}

.v-icon,
.v-btn {
	&.primary {
		&::before,
		&::after {
			transition: all ease-in-out 0.1s !important;
		}

		&:hover,
		&:focus {
			&,
			span,
			svg {
				color: #fff !important;
				fill: #fff !important;
			}

			&::before,
			&::after {
				background-color: transparent !important;
				// background-color: var(--v-primary-darken1) !important;
				opacity: 1 !important;
			}
		}
	}

	&.v-icon--link,
	&.v-btn--icon {
		&,
		span,
		svg {
			transition: all ease-in-out 0.1s !important;
		}

		&:hover,
		&:focus {
			&,
			span,
			svg {
				color: var(--v-primary-darken1) !important;
				fill: var(--v-primary-darken1) !important;
			}
		}
	}
}

.no-click,
.not-clickable,
.pointer-events-none {
	pointer-events: none !important;
}

.material-icons {
	max-width: 24px;
}

.pointer-default,
.default-pointer {
	cursor: default !important;
}

.pointer-cursor,
.cursor-pointer {
	cursor: pointer !important;
}

.no-active,
.disable-active {
	&.v-btn--active::before {
		background: transparent !important;
		opacity: 0;
	}
}

.no-bg,
.disable-bg {
	&:hover,
	&::before:hover,
	&::after:hover {
		background: transparent !important;
	}

	&::before:hover,
	&::after:hover {
		opacity: 0;
	}
}

.no-hover,
.disable-hover {
	&:hover,
	&::before:hover,
	&::after:hover {
		background: transparent !important;
	}

	&::before:hover,
	&::after:hover {
		opacity: 0;
	}
}

.help-cursor {
	cursor: help !important;
}

.svg-icon {
	&:hover {
		filter: brightness(150%);
	}
}

.rounded {
	border-radius: 4px !important;
}

@for $i from 0 to 10 {
	.rounded-#{$i} {
		border-radius: ($i * 4) * 1px !important;
	}
}

.toasted {
	font-family: $body-font-family, sans-serif;
	font-weight: 700;

	&.success {
		background-color: var(--v-success-darken1) !important;
	}

	&.error {
		background-color: var(--v-error-darken1) !important;
	}

	&.info {
		background-color: var(--v-accent-darken1) !important;
	}

	.svg-inline--fa {
		margin-right: $spacer-2 !important;
	}
}

.debug {
	border: 1px solid red;

	&-1 {
		border: 1px solid red;
	}

	&-2 {
		border: 1px solid blue;
	}

	&-3 {
		border: 1px solid green;
	}
}

@import '~vuetify/src/styles/styles.sass';
