// SPACER
$spacer: 4px;
$spacer-1-8: $spacer * 0.125;
$spacer-1-4: $spacer * 0.25;
$spacer-1-2: $spacer * 0.5;
$spacer-1: $spacer * 1;
$spacer-2: $spacer * 2;
$spacer-3: $spacer * 3;
$spacer-4: $spacer * 4;
$spacer-5: $spacer * 5;
$spacer-6: $spacer * 6;
$spacer-7: $spacer * 7;
$spacer-8: $spacer * 8;
$spacer-9: $spacer * 9;
$spacer-10: $spacer * 10;
$spacer-11: $spacer * 11;
$spacer-12: $spacer * 12;
$spacer-13: $spacer * 13;
$spacer-14: $spacer * 14;
$spacer-15: $spacer * 15;
$spacer-16: $spacer * 16;
$spacer-17: $spacer * 17;
$spacer-18: $spacer * 18;
$spacer-19: $spacer * 19;
$spacer-20: $spacer * 20;
$spacer-21: $spacer * 21;
$spacer-22: $spacer * 22;
$spacer-23: $spacer * 23;
$spacer-24: $spacer * 24;
$spacer-25: $spacer * 25;
$spacer-26: $spacer * 26;
$spacer-27: $spacer * 27;
$spacer-28: $spacer * 28;
$spacer-29: $spacer * 29;
$spacer-30: $spacer * 30;
$spacer-31: $spacer * 31;
$spacer-32: $spacer * 32;

$banner-height: $spacer-8;
$header-height: $spacer-15;
$footer-height: $spacer-12;
$sidebar-height: $spacer-16;
