// COLORS
$shades: (
	"black": rgba(0, 0, 0, 1),
	"white": rgba(255, 255, 255, 1),
	"transparent": rgba(255, 255, 255, 0),
);

$black: (
	"base": darken(#000, 15%),
	"light": #000,
	"dark": darken(#000, 30%),
	"trans": transparentize(#000, 0.5)
);

$white: (
	"base": darken(#fff, 15%),
	"light": #fff,
	"dark": darken(#fff, 30%),
	"trans": transparentize(#fff, 0.5)
);

$text-muted: (
	"base": #333,
	"light": #333,
	"dark": darken(#333, 30%),
	"trans": transparentize(#333, 0.5)
);

$brand: (
	"base": #24c4a1,
	"light": lighten(#24c4a1, 15%),
	"dark": darken(#24c4a1, 15%),
	"trans": transparentize(#24c4a1, 0.5)
);

$green: (
	"base": #7ec699,
	"light": lighten(#7ec699, 15%),
	"dark": darken(#7ec699, 15%),
	"trans": transparentize(#7ec699, 0.5)
);

$purple: (
	"base": #7c4dff,
	"light": lighten(#7c4dff, 15%),
	"dark": darken(#7c4dff, 15%),
	"trans": transparentize(#7c4dff, 0.5)
);

$red: (
	"base": #c06b6f,
	"light": lighten(#c06b6f, 15%),
	"dark": darken(#c06b6f, 15%),
	"trans": transparentize(#c06b6f, 0.5)
);

$orange: (
	"base": #f08d49,
	"light": lighten(#f08d49, 15%),
	"dark": darken(#f08d49, 15%),
	"trans": transparentize(#f08d49, 0.5)
);

$yellow: (
	"base": #febf2d,
	"light": lighten(#febf2d, 15%),
	"dark": darken(#febf2d, 15%),
	"trans": transparentize(#febf2d, 0.5)
);

$blue: (
	"base": #1976d2,
	"light": lighten(#1976d2, 15%),
	"dark": darken(#1976d2, 15%),
	"trans": transparentize(#1976d2, 0.5)
);

$grey: (
	"base": #9e9e9e,
	"lighten-5": #fafafa,
	"lighten-4": #f5f5f5,
	"lighten-3": #eee,
	"lighten-2": #e0e0e0,
	"lighten-1": #bdbdbd,
	"darken-1": #757575,
	"darken-2": #616161,
	"darken-3": #424242,
	"darken-4": #212121,
);

$primary: map-get($brand, base);
$secondary: map-get($yellow, base);
$accent: map-get($purple, light);
$link: map-get($blue, light);
$success: map-get($green, base);
$info: map-get($blue, light);
$warning: map-get($orange, base);
$error: map-get($red, base);

// BACKGROUND
$body-background-light: #f9f9f9;
$body-background-light-primary: #f9fcff;
$border-color-light: #f9fcff;

.bg-transparent {
	background-color: transparent !important;
}

.primary-gradient {
	background-color: transparent;
	background-image: linear-gradient(180deg, map-get($blue, light), map-get($blue, base)) !important;
}

.secondary-gradient {
	background-color: transparent;
	background-image: linear-gradient(180deg, map-get($yellow, light), map-get($yellow, base)) !important;
}

.accent-gradient {
	background-color: transparent;
	background-image: linear-gradient(180deg, map-get($purple, light), map-get($purple, base)) !important;
}

.error-gradient {
	background-color: transparent;
	background-image: linear-gradient(180deg, map-get($red, base), map-get($red, dark)) !important;
}

.success-gradient {
	background-color: transparent;
	background-image: linear-gradient(180deg, map-get($green, light), map-get($green, base)) !important;
}

.warning-gradient {
	background-color: transparent;
	background-image: linear-gradient(180deg, map-get($orange, light), map-get($orange, base)) !important;
}

.v-application {
	&.theme--dark {
		.grey-gradient {
			background-color: transparent;
			background-image: linear-gradient(180deg, map-get($grey, lighten-3), map-get($grey, darken-3)) !important;

			i {
				color: #f1f1f1;
			}
		}

		.v-tooltip__content {
			span {
				color: map-get($grey, lighten-3) !important;
			}
		}
	}

	&.theme--light {
		.grey-gradient {
			background-color: transparent;
			background-image: linear-gradient(180deg, map-get($white, light), map-get($white, base)) !important;
			color: #333;

			i,
			span {
				color: #333;
			}
		}

		.v-tooltip__content {
			span {
				color: map-get($grey, darken-2) !important;
			}
		}
	}
}

// BORDER RADIUS
$border-radius-root: 6px;

// BORDER COLOR
$row-border-color: rgba(0, 0, 0, 0.15);

// TYPOGRAPHY
$font-size-root: 14px;
$input-font-size: 14px;

$box-shadow: inset 0 0 8px 4px rgba(0, 0, 0, 0.25);
