html {
	overflow: auto !important;
}

.v-application {
	&.theme--dark {
		background: #21222c !important;
	}

	&.theme--light {
		background: #dfe6ed !important;
	}

	.v-card {
		.v-card__title {
			min-height: $spacer-11 !important;
		}

		&.theme-- {
			&light.shadow .v-card__title {
				&::after {
					background-color: #b9bbbc;
				}
			}

			&dark.shadow .v-card__title {
				&::after {
					background-color: #1e2028;
				}
			}
		}

		&.shadow {
			.v-card__title {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					top: 44px;
					left: 0;
					right: 0;
					height: 4px;
				}
			}
		}

		border-radius: 0 !important;
	}
}

.container {
	height: auto !important;

	@media (max-width: 480px) {
		padding: 0;
		align-content: start;

		.v-card {
			border-radius: 0 !important;
		}
	}
}

a {
	text-decoration: none;
}

.page-link,
.page-link:visited,
.page-link:hover,
.page-link:active,
.page-link:focus {
	outline: unset !important;
	border: unset !important;
}

.page-link:hover,
.page-link:focus {
	filter: brightness(150%);
}

.full-height,
.fill-height {
	height: 100% !important;
	max-height: 100% !important;
}

.full-width,
.fill-width {
	width: 100% !important;
	max-width: 100% !important;
}

.h- {
	&16 {
		min-height: 16px;
		height: 16px;
	}

	&24 {
		min-height: 24px;
		height: 24px;
	}

	&32 {
		min-height: 32px;
		height: 32px;
	}

	&36 {
		min-height: 36px;
		height: 36px;
	}

	&40 {
		min-height: 40px;
		height: 40px;
	}

	&48 {
		min-height: 40px;
		height: 48px;
	}

	&64 {
		min-height: 64px;
		height: 64px;
	}

	&min- {
		&16 {
			min-height: 16px !important;
		}

		&24 {
			min-height: 24px !important;
		}

		&32 {
			min-height: 32px !important;
		}

		&36 {
			min-height: 36px !important;
		}

		&40 {
			min-height: 40px !important;
		}

		&48 {
			min-height: 48px !important;
		}

		&64 {
			min-height: 64px !important;
		}
	}

	&max- {
		&16 {
			max-height: 16px !important;
		}

		&24 {
			max-height: 24px !important;
		}

		&32 {
			max-height: 32px !important;
		}

		&36 {
			max-height: 36px !important;
		}

		&40 {
			max-height: 40px !important;
		}

		&48 {
			max-height: 48px !important;
		}

		&64 {
			max-height: 64px !important;
		}
	}
}

.lh- {
	&16 {
		line-height: 16px !important;
	}

	&24 {
		line-height: 24px !important;
	}

	&32 {
		line-height: 32px !important;
	}

	&36 {
		line-height: 36px !important;
	}

	&40 {
		line-height: 40px !important;
	}

	&48 {
		line-height: 48px !important;
	}

	&64 {
		line-height: 64px !important;
	}
}

.v-data-table {
	tbody {
		tr {
			background-color: white;
			cursor: pointer;

			&.striped {
				background-color: #f9fcff;
			}

			&:hover,
			&.striped:hover {
				background-color: rgba(0, 0, 0, 0.05) !important;
			}
		}
	}

	&.rows-not-clickable {
		tbody {
			tr {
				cursor: default !important;

				&:hover,
				&.striped:hover {
					background-color: rgba(0, 0, 0, 0.05) !important;
				}
			}
		}
	}
}

.v-text-field--box .v-input__slot,
.v-text-field--outline .v-input__slot {
	max-height: 32px !important;
}

.v-tooltip {
	z-index: 50;
}

.v-badge {
	.v-badge__wrapper {
		display: flex;
		align-items: center;
	}
}

.spin {
	animation: spin 0.6s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.no-transition {
	transition: none !important;
}

.no-click,
.not-clickable,
.pointer-events-none {
	pointer-events: none !important;
}

.material-icons {
	max-width: 24px;
}

.pointer-default,
.default-pointer {
	cursor: default !important;
}

.pointer-cursor,
.cursor-pointer {
	cursor: pointer !important;
}

.no-active,
.disable-active {
	&.v-btn--active::before {
		background: transparent !important;
		opacity: 0;
	}
}

.no-bg,
.disable-bg {
	&:hover,
	&::before:hover,
	&::after:hover {
		background: transparent !important;
	}

	&::before:hover,
	&::after:hover {
		opacity: 0;
	}
}

.no-hover,
.disable-hover {
	&:hover,
	&::before:hover,
	&::after:hover {
		background: transparent !important;
	}

	&::before:hover,
	&::after:hover {
		opacity: 0;
	}
}

.help-cursor {
	cursor: help !important;
}

.svg-icon {
	&:hover {
		filter: brightness(150%);
	}
}

@for $i from 0 to 10 {
	.rounded-#{$i} {
		border-radius: ($i * 4) * 1px !important;
	}
}

.toasted {
	font-family: Roboto, sans-serif;
	font-weight: 700;

	.svg-inline--fa {
		margin-right: $spacer-2 !important;
	}
}

.debug {
	border: 1px solid red;

	&-1 {
		border: 1px solid red;
	}

	&-2 {
		border: 1px solid blue;
	}

	&-3 {
		border: 1px solid green;
	}
}

@import '~vuetify/src/styles/styles.sass';
